.swiper-collection {
  width: 100%;
  padding: 40px 0;
}
.colliction-sar {
  width: 100%;
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  color: gray;
}
.slide-item {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
  padding: 10px;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  transition: transform 0.4s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.603);
}

.slide-item:hover img {
  transform: scale(1.05);
}

.slide-item p {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
}
