/* Header umumiy */
.navbar {
  width: 100%;
  height: 120px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header-line {
  width: 100%;
  height: 2px;
  background-color: #fe653d;
}

/* Logo */
.logo {
  width: 170px;
}

.menu-bar {
  display: none;
}
.header-nav-menu {
  display: none;
}

.header-left {
  width: 40%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
/* Rating section */
.rating {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.phone-media2 {
  display: none;
}

.rating span {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.559);
}

.rating .reviews {
  font-size: 13px;
  color: #fe653d;
  font-family: sans-serif;
  font-weight: 100;
}

/* Yulduzlar */
.rating svg {
  color: rgb(255, 183, 0);
  font-size: 18px;
}

/* Header o‘ng qismi */
.header-right {
  width: 60%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.header-contact {
  width: 70%;
  height: 50px;
  border-radius: 0 0px 10px 10px;
  background-color: #fe653d;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 10px;
}

.header-nav {
  width: 100%;
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
}
.header-nav-menu {
  display: none;
}
/* Ant Design inputlar uchun */
.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Select */
.header-right select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fe653d;
  color: #ccc;
  outline: none;
}

.button-contact {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background-color: #fe653d;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 7px;
  border-radius: 4px;
}

.button-contact:hover {
  background-color: #fff !important;
  color: #fe653d;
  border: 1px solid #fe653d;
  transition: 0.7s;
}

/* ----------- RESPONSIVE 1024px ----------- */
@media (max-width: 1024px) {
  .navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }

  .header-left,
  .header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    width: 120px;
  }

  .rating {
    width: 20%;
    gap: 3px;
    margin-left: 10px;
  }

  .rating span {
    font-size: 14px;
  }

  .rating .reviews {
    font-size: 12px;
  }

  .rating svg {
    font-size: 14px;
  }

  .header-right {
    width: 90%;
    height: 130px;
    align-items: center;
    justify-content: center;
  }

  .header-contact {
    width: 70%;
    height: 55px;
    border-radius: 8px;
  }

  .header-nav {
    width: 90%;
  }

  .header-nav p {
    color: #fe653d;
    font-size: 14px;
    font-family: sans-serif, monospace;
    font-weight: bold;
  }
}

/* ----------- RESPONSIVE 870px ----------- */
@media (max-width: 870px) {
  .navbar {
    height: 200px;
  }

  .logo {
    width: 140px;
  }

  .header-right {
    width: 90%;
    height: 130px;
    align-items: end;
    justify-content: center;
  }

  .header-contact {
    width: 100%;
    height: 55px;
    border-radius: 8px;
    background-color: #fff;
    justify-content: space-evenly;
  }

  .header-nav {
    width: 90%;
    display: none;
  }

  .button-contact {
    background-color: #fff;
    color: #fe653d;
    border: 1px solid #fe653d;
  }

  .button-contact:hover {
    box-shadow: 0 0 12px rgba(106, 105, 105, 0.5);
    border: 1px solid #fff;
  }

  .inputs {
    display: none;
  }

  .header-right select {
    background-color: #fff;
    color: gray;
  }
  .menu-bar {
    display: block;
    position: fixed;
    left: 20px;
    top: 30px;
    font-size: 25px;
    color: #fff;
    background-color: #fe653d;
    padding: 4px 6px;
    border-radius: 2px;
    z-index: 10;
  }
  .header-nav {
    position: fixed;
    left: -100%;
    /* display: none; */
    transition: right 1s ease;
  }
  .header-nav-menu {
    width: 40%;
    height: 100vh; /* 🔑 butun ekranni yopish uchun */
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fe653d;
    display: block;
    transition: right 1s ease;
    z-index: 9;
  }
}

/* ----------- RESPONSIVE 500px ----------- */
@media (max-width: 500px) {
  .navbar {
    height: 200px;
  }

  .logo {
    width: 120px;
  }

  .header-left {
    display: flex;
    flex-direction: column;
  }

  .rating {
    width: 80%;
    gap: 3px;
    display: flex;
    flex-direction: column;
  }

  .rating span {
    font-size: 14px;
  }

  .rating .reviews {
    font-size: 12px;
  }

  .rating svg {
    font-size: 16px;
  }

  .header-right {
    width: 90%;
    height: 100px;
    align-items: end;
    justify-content: center;
  }

  .header-contact {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    justify-content: space-evenly;
  }

  .header-contact button {
    width: 100px;
  }

  .header-nav {
    width: 90%;
    display: none;
  }

  .phone-media1 {
    display: none;
  }

  .phone-media2 {
    display: block;
  }
}
